@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	z-index: 1;
	font-family: ubuntu;
	--russian: #1E1E24;
	--crater: #444140;
	--wisp: #F7EBE8;
	--salmon: #FFA987;
	--valencia: #E54B4B;
	--sky: #3C91E6;
	--opacity-level: 0.4;
	--faint-russian: rgba(30, 30, 36, var(--opacity-level));
	--faint-crater: rgba(68, 65, 64, var(--opacity-level));
	--faint-wisp: rgba(247, 235, 232, var(--opacity-level));
	--faint-salmon: rgba(255, 169, 135, var(--opacity-level));
	--faint-valencia: rgba(229, 75, 75, var(--opacity-level));
	--faint-sky: rgba(60, 145, 230, var(--opacity-level));
}

html {
	background-color: var(--russian);
}

#bgoverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	filter: grayscale(50%) blur(12px);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("https://picsum.photos/1000/?random");
	opacity: 0.2;
	z-index: -1;
}

::selection {
	color: #fff;
	background-color: var(--faint-sky);
}

body > center > * {
	color: #fff;
}

#export {
	position: fixed;
	display: grid;
	top: 20px;
	right: 20px;
}

#export > * {
	min-width: 0px;
}

input[name='mode'] {
	opacity: 0.5;
	cursor: pointer;
	transform: none;
	border-color: var(--faint-valencia);
	border-radius: 5px;
	margin: 2px;
	background-color: var(--valencia);
	box-shadow: none;
	transition: transform 0.2s, color 0.2s, opacity 0.2s;
	width: 90px;
}

input[name='mode']:hover {
	color: #fff;
	opacity: 1;
	transform: scale(1.05, 1.05);
}

a {
	display: inline-block;
	color: #fff;
	padding: 0px 4px;
	border: 2px outset var(--faint-valencia);
	border-radius: 2px;
	background-color: var(--valencia);
	font-size: 0.8em;
	text-decoration: none;
}

a.active {
	border-style: inset;
}

.bright {
	color: var(--salmon);
}

thead > tr:first-child > *:first-child { border-radius: 9px 0 0 0; }

thead > tr:first-child > *:last-child { border-radius: 0 9px 0 0; }

thead > * {
	background-color: var(--valencia);
	color: #fff;
}

tbody > tr:nth-child(even) {
	background-color: var(--faint-salmon);
}

tbody > tr:last-child > *:first-child { border-radius: 0 0 0 9px; }

tbody > tr:last-child > *:last-child { border-radius: 0 0 9px 0; }

#results {
	margin: 3px;
	background-color: var(--wisp);
	border-radius: 10px;
	color: var(--russian);
	text-align: center;
	max-width: 90vw;
}

#results > thead > tr > * {
	padding: 8px;
}

#results > tbody > tr > * {
	padding: 4px;
}

#results > tbody > tr > td > table {
	display: block;
	margin: auto;
	overflow: hidden;
	visibility: hidden;
	max-height: 10px;
}

#results > tbody > tr > td > table::before {
	display: inline-block;
	position: relative;
	transform: translateY(-50%);
	content: "...";
	font-weight: bold;
	font-size: 24px;
	color: var(--russian);
	visibility: visible;
	border-radius: 9px;
	height: 100%;
	width: 20%;
}

td.collapsed {
	transition: border-color 0.3s;
	cursor: pointer;
	max-width: 30px;
	border-radius: 3px;
	background-color: var(--valencia);
	border: 3px outset var(--faint-valencia);
}

td.collapsed:active {
	border-style: inset;
}

#results > tbody > tr > td:not(.collapsed) {
	max-width: none;
}

#results > tbody > tr > td:not(.collapsed) > * {
	display: block !important;
	overflow: auto !important;
	visibility: visible !important;
	max-height: none !important;
}

#results > tbody > tr > td:not(.collapsed) > table {
	--opacity-level: 0.1;
	background-color: var(--faint-valencia);
	border: 3px dashed var(--valencia);
	cursor: pointer;
}

#results > tbody > tr > td:not(.collapsed) > table::before {
	display: none;
}

#results > tbody > tr:hover {
	background-color: var(--faint-valencia);
}