@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	--russian: #1E1E24;
	--crater: #444140;
	--wisp: #F7EBE8;
	--salmon: #FFA987;
	--valencia: #E54B4B;
	--sky: #3C91E6;
	--opacity-level: 0.4;
	--faint-russian: rgba(30, 30, 36, var(--opacity-level));
	--faint-crater: rgba(68, 65, 64, var(--opacity-level));
	--faint-wisp: rgba(247, 235, 232, var(--opacity-level));
	--faint-salmon: rgba(255, 169, 135, var(--opacity-level));
	--faint-valencia: rgba(229, 75, 75, var(--opacity-level));
	--faint-sky: rgba(60, 145, 230, var(--opacity-level));

	z-index: 1;
	font-family: ubuntu;
}

html {
	background-color: var(--russian);
}

body {
	text-align: center;
}

#bgoverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	filter: grayscale(50%) blur(12px);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("https://picsum.photos/1000/?random");
	opacity: 0.2;
	z-index: -1;
}

::selection {
	color: #fff;
	background-color: var(--faint-sky);
}

#pageHeader {
	padding-bottom: 10px;
}

h1, small {
	color: var(--wisp);
	text-shadow: 3px 3px 2px var(--russian);
}

#content {
	display: inline-grid;
	align-content: center;
	box-sizing: border-box;
	padding: 50px;
	height: 96vh;
	width: 50%;
	max-width: 900px;
	min-width: 500px;
	margin: auto;
}

#content > *:not(style):not(script) {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}

#content table {
	margin: 3px;
	background-color: var(--wisp);
	border-radius: 10px;
	color: var(--russian);
	text-align: center;
	max-width: 90vw;
}

#content table > thead > tr > * {
	padding: 8px;
}

#content table > tbody > tr > * {
	padding: 4px;
}

label {
	padding: 3px 15px;
}

input {
	text-align: center;
	font-size: 1.1em;
	padding: 4px;
	border-radius: 4px;
}

button, input[type='submit'] {
	padding: 5px 30px;
	cursor: pointer;
	color: var(--wisp);
	background-color: var(--valencia);
	border-color: var(--faint-valencia);
}

input[name='mode'] {
	opacity: 0.5;
	cursor: pointer;
	transform: none;
	border-color: var(--faint-valencia);
	border-radius: 5px;
	margin: 2px;
	background-color: var(--valencia);
	box-shadow: none;
	transition: transform 0.2s, color 0.2s, opacity 0.2s;
	width: 90px;
}

input[name='mode']:hover {
	color: #fff;
	opacity: 1;
	transform: scale(1.05, 1.05);
}

a {
	display: inline-block;
	color: #fff;
	padding: 0px 4px;
	border: 2px outset var(--faint-valencia);
	border-radius: 2px;
	background-color: var(--valencia);
	font-size: 0.8em;
	text-decoration: none;
}

a.active {
	border-style: inset;
}

.bright {
	color: var(--salmon);
}

thead > tr:first-child > *:first-child { border-top-left-radius: 9px; }

thead > tr:first-child > *:last-child { border-top-right-radius: 9px; }

thead > * {
	background-color: var(--valencia);
	color: #fff;
}

tbody > tr:nth-child(even) {
	background-color: var(--faint-salmon);
}

tbody > tr:last-child > *:first-child { border-bottom-left-radius: 9px; }

tbody > tr:last-child > *:last-child { border-bottom-right-radius: 9px; }

td.collapsed {
	transition: border-color 0.3s;
	cursor: pointer;
	max-width: 30px;
	border-radius: 3px;
	background-color: var(--valencia);
	border: 3px outset var(--faint-valencia);
}

td.collapsed:active {
	border-style: inset;
}